<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            <div class="create-modal-header">
                <span class="pull-left">{{ _("Already got an account?") }}
                    {% if crapp or cdvapp %}
                    <a href="" ng-click="logout()">{{ _("Login to your Wallet") }}</a></span>
                    {% else %}
                    <a href="/wallet">{{ _("Login to your Wallet") }}</a></span>
                    {% endif %}
                {{ _("Step") }} 1 {{ _("of") }} <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%"></div>
                </div>
            </div>

            <div class="create-modal-body" ng-show="signup.trezor_detected">
                <div class="title">{{ _("Use TREZOR to create a GreenAddress wallet") }}<br>
                    <small ng-hide="signup.empty_trezor">{{ _("Please finish this 3-step account setup to fully secure it against intruders") }}</small>
                    <small ng-show="signup.empty_trezor" ng-bind-html="signup.empty_mytrezor_message"></small>
                </div>

                <p style="text-align: center;">({{ _("You can also disconnect the TREZOR and refresh this page to create a wallet without the device.") }})</p>
            </div>

            <div class="create-modal-body" ng-hide="signup.unexpected_error || signup.trezor_detected">
                <div class="title">{{ _("You are now the proud owner of a bitcoin wallet") }}<br>
                    <small>{{ _("Please finish this 4-step account setup to fully secure it against intruders") }}</small>
                </div>
                <hr>
                <div class="mnemonic-label ng-cloak" ng-show="signup.mnemonic && !signup.mnemonic_encrypted">{{ _("Your mnemonic passphrase") }}</div>
                <div class="mnemonic-label ng-cloak" ng-show="signup.mnemonic && signup.mnemonic_encrypted">{{ _("Your <strong>encrypted</strong> mnemonic passphrase") }}</div>
                <div class="mnemonic info ng-cloak" ng-show="signup.mnemonic_encrypted || signup.mnemonic">
                <span ng-bind="signup.mnemonic_encrypted || signup.mnemonic" ></span>
                {% if crapp or not cdvapp %}
                <a ng-hide="wallet.nohw_chosen" ng-click="signup.usb_hwseed_modal()"  ng-class="{disabled: signup.hw_wallet_processing}" tooltip-placement="left" tooltip="{{ _("Click to use hardware wallet seed instead") }}" class="btn btn-default btn-xs" style="float: right; position: relative; top: 14px; left: 18px;"><i class="glyphicon glyphicon-transfer"></i></a>
                {% endif %}
                </div>
                <div class="mnemonic info" ng-hide="signup.mnemonic">{{ _("Generating mnemonic, please wait...") }}</div>
                <div ng-hide="signup.mnemonic_encrypted || cordova_platform=='ios'" class="row"><div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <a class="col-xs-12 btn btn-large btn-success" ng-class="{disabled: !signup.mnemonic}" ng-click="signup.encrypt_mnemonic()"><i class="glyphicon glyphicon-lock"></i>{{ ("Click to encrypt your mnemonic") }}</a>
                </div></div>
                <hr>
                <p>{{ _("Please write down these words and store them in a safe place as they can't be recovered.") }} <b>{{ _("We do not store the above information anywhere, we can't help you recover it!") }}</b></p>
            </div>

            <div class="create-modal-footer" ng-hide="signup.unexpected_error || signup.empty_trezor">
                <label for="checkbox-confirmation">
                    <input type="checkbox" ng-model="signup.secured_confirmed" id="checkbox-confirmation" ng-disabled="signup.hw_wallet_processing"> {{ _("I confirm that my passphrase is saved &amp; secured and I agree with the ") }}
                    {% if cdvapp %}
                    <a href="" onclick="window.open('tos.html', '_blank', 'location=no'); return false">{{ _("Terms of Service") }}</a>
                    {% elif crapp %}
                    <a href="https://greenaddress.it/tos/" target="_blank">{{ _("Terms of Service") }}</a>
                    {% else %}
                    <a href="/tos" target="_blank">{{ _("Terms of Service") }}</a>
                    {% endif %}
                </label>
                <br>
                <button class="btn btn-default btn-block-xs" ng-click="signup.qrmodal()" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-qrcode"></i> {{ _("Show QR Code") }}</button>

                {% if cdvapp %}
                <button class="btn btn-default btn-block-xs" ng-hide="cordova_platform=='ios'" ng-click="signup.nfcmodal()" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-transfer"></i> {{ _("Write to NFC tag") }}</button>
                {% endif %}
                {% if crapp %}
                <button ng-hide="signup.has_btchip || signup.trezor_detected" class="btn btn-default btn-block-xs" ng-click="signup.usbmodal()" ng-class="{disabled:!signup.mnemonic || signup.hw_wallet_processing}"><i class="glyphicon glyphicon-transfer"></i> {{ _("Write to a BTChip") }}</button>
                {% endif %}
                {% if not crapp and not crapp %}
                <button tooltip="{{ _("Warning: some printers store printed documents internally, so it can be insecure to print your mnemonic.") }}" class="btn btn-default btn-block-xs" onclick="window.print(); return false;" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-print"></i> {{ _("Print passphrase") }}</button>
                {% endif %}

                <a class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.mnemonic||!signup.secured_confirmed}" href="#/signup_2factor#content_container">{{ _("Continue") }}!</a>
            </div>

            <div class="create-modal-footer" ng-show="signup.unexpected_error">
                <a class="btn btn-danger login-submit" href="" ng-click="signup.try_again()">
                    {{ _("Error: ") }} (( signup.unexpected_error )). {{ _(" Click to try again") }}
                </a>
            </button>
            </div>

        </div>
    </div>
</div>


<div class="printable">
    <h1><img src="/static/img/logos/logo-greenaddress.png" alt="GreenAddress"> GreenAddress<br><small>https://greenaddress.it</small></h1>
    <p>{{ _("The passphrase to access your wallet is:") }}</p>
    <div class="mnemonic noanimate">(( signup.mnemonic_encrypted || signup.mnemonic ))</div>
    <p ng-if="signup.mnemonic_encrypted">{{ _("This passphrase is encrypted, so<br/> your encryption password is required to use it.") }}</p>
    <qr ng-if="signup.mnemonic" class="qrcode" text="(( signup.mnemonic_encrypted || signup.mnemonic ))" size="212"></qr>
    <p><i class="glyphicon glyphicon-exclamation-sign"></i> <i>{{ _("Store this page in a safe place") }}</i></p>
</div>
