<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            
            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">{{ _("Download GreenAddress Wallet") }}
                </div>
                <hr>
                <p>{{ _("To continue creating your wallet please download the app from the appropriate link for your platform below") }}</p>
            </div>

            <div class="create-modal-footer">
              <ul class="list-inline text-center">
                {% include "snippets/download-links-desktop.html" %}
                <br/>
                <br/>
                {% include "snippets/download-links-mobile.html" %}
              </ul>
            </div>

        </div>
    </div>
</div>
