<div submittable>

    <div class="modal-body modal-verify-mnemonic">
      <p class="text-center">{{ _("Please enter the missing words from your mnemonic:") }}</p>
      <p class="text-center">{{ _("(to verify that you backed it up correctly)") }}</p>
        <form ng-submit="verify_mnemonic_submit()">
            <p class="text-center mnemonic form-inline">
              <span ng-repeat="word in all_words track by $index" class="mnemonic-wrapper">
                <span ng-hide="indices[$index]" class="mnemonic-word">(( word ))&nbsp;</span>
                <input ng-show="indices[$index]" size="10" placeholder="{{ _("Word #") }}(( $index+1 ))" clickfix id="id_word((idx))" class="form-control form-inline" type="text" ng-model="verified_mnemonic_words[indices[$index]-1]" />
                <span class="error" ng-show="verified_mnemonic_errors[indices[$index]-1]" class="label label-danger">((verified_mnemonic_errors[indices[$index]-1]))</span>
              </span>
            </p>
            <input type="submit" submitter style="position: absolute; left: -10000px;" />
        </form>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-show="signup" ng-click="$dismiss()">{{ _("Cancel and return to first step") }}</button>
            <button class="btn btn-danger" ng-hide="signup" ng-click="$dismiss()">{{ _("Cancel") }}</button>
            <button class="btn btn-primary" ng-click="submit_me()">{{ _("Verify") }}</button>
        </div>
    </div>

</div>
