<div class="modal-header">
    {{ _("Confirm transaction details") }}
</div>

<div class="modal-body">
    <p>
        <span ng-show="tx.previous_fee !== undefined">{{ _("You are about to bump a fee.") }}</span>
        {{ _("Please make sure the details below are correct:") }}
    </p>

    <dl>
        <dt>{{ _("Recipient") }}</dt>
        <dd>(( tx.recipient ))</dd>
    </dl>

    <dl>
        <dt>{{ _("Amount") }}</dt>
        <dd>
          <span ng-if="wallet.current_asset == 1">(( tx.value | format_btc:wallet.unit )) ( (( tx.value | format_fiat:wallet.fiat )) )</span>
          <span ng-if="wallet.current_asset != 1">(( tx.value | format_asset:wallet.assets[wallet.current_asset] ))</span>
        </dd>
    </dl>

    <dl>
        <dt>{{ _("Fee") }}</dt>
        <dd>
            <div ng-if="wallet.current_asset == 1 && (!tx.feeasset || tx.feeasset == 1)">
              (( tx.fee | format_btc:wallet.unit ))<span ng-if="wallet.current_asset == 1">
               ( (( tx.fee | format_fiat:wallet.fiat )) ) </span>
              <span ng-show="tx.previous_fee">
                  ({{ _("Previous fee:") }} (( tx.previous_fee | format_btc:wallet.unit )))
              </span>
            </div>
            <div ng-if="wallet.current_asset != 1 || (tx.feeasset && tx.feeasset != 1)">
              (( tx.fee | format_asset:wallet.assets[wallet.current_asset] ))
              <span ng-show="tx.previous_fee">
                  ({{ _("Previous fee:") }} (( tx.previous_fee | format_asset:wallet.assets[tx.feeasset] )))
              </span>
            </div>
        </dd>
    </dl>
</div>

<div class="modal-footer">
    <div class="">
        <button class="btn btn-default" ng-click="$dismiss()">{{ _("Cancel") }}</button>
        <button class="btn btn-primary" ng-click="$close()">{{ _("Send transaction") }}</button>
    </div>
</div>
