<div submittable>
    <div class="modal-header">
        <h4 class="modal-title">{{ _("Warning! Deprecation notice") }}</h4>
    </div>

    <div class="modal-body">
            <p class="text-justify">{{ _("This web application has been deprecated and you should move to one of our mobile or desktop apps at your earliest convenience.") }}</p>
    </div>
    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">{{ _("Dismiss") }}</button>
        </div>
    </div>

</div>
