<li><a href="https://play.google.com/store/apps/details?id=com.greenaddress.greenbits_android_wallet" target="_blank"><img src="{{STATIC_URL}}/img/logos/logo-google-play.svg" height="30" alt="Google Play" /></a></li>
<li><a href="https://itunes.apple.com/app/id1206035886" target="_blank"><img src="{{STATIC_URL}}/img/logos/logo-appstore-{{ LANG }}.svg" height="30" alt="AppStore" /></a></li>
<li><a href="https://f-droid.org/repository/browse/?fdid=com.greenaddress.greenbits_android_wallet" target="_blank"><img src="{{STATIC_URL}}/img/logos/logo-fdroid.svg" height="30" alt="F-Droid" /></a></li>

