<li><a href="https://github.com/greenaddress/WalletElectron/releases" target="_blank"><img src="{{STATIC_URL}}/img/logos/logo-apple.png" height="30" alt="OSX" /></a></li>
<li><a href="https://github.com/greenaddress/WalletElectron/releases" target="_blank"><img src="{{STATIC_URL}}/img/logos/logo-linux.png" height="30" alt="Linux" /></a></li>
<li><a href="https://github.com/greenaddress/WalletElectron/releases" target="_blank"><img src="{{STATIC_URL}}/img/logos/logo-windows.png" height="30" alt="Windows" /></a></li>
