<div class="menu" toggle-class="visible">
  <ul>
    <li class="menu-header"><img src="{{STATIC_URL}}/img/logos/logo-greenaddress-white.png" alt="GreenAddress" /> GreenAddress</li>
    <li path="/info"><a href="#/info">{{ _("Transactions") }}</a></li>
    <li ng-show="wallet.hdwallet.keyPair.d || wallet.trezor_dev || wallet.btchip" path="/send"><a href="#/send">{{ _("Send Money") }}</a></li>
    <li path="/receive"><a href="#/receive">{{ _("Receive Money") }}</a></li>
    <li path="/address-book"><a href="#/address-book">{{ _("Address Book") }}</a></li>
    <li ng-show="wallet.hdwallet.keyPair.d || wallet.trezor_dev || wallet.btchip" path="/settings" class="menu-settings"><a href="#/settings">{{ _("Settings") }}</a></li>

    <li ng-show="settings" du-scrollspy="general" class="menu-submenu"><a href="#general" du-smooth-scroll>{{ _("General") }}</a></li>
    <li ng-show="settings" du-scrollspy="transactions" class="menu-submenu"><a href="#transactions" du-smooth-scroll>{{ _("Transactions") }}</a></li>
    <li ng-show="settings" du-scrollspy="security" class="menu-submenu"><a href="#security" du-smooth-scroll>{{ _("Security") }}</a></li>
    <li ng-show="settings" du-scrollspy="accounts" class="menu-submenu"><a href="#accounts" du-smooth-scroll>{{ _("Accounts") }}</a></li>

    <li><a href="" ng-click="update_now()" ng-show="update_available">{{ _("Update now") }}</a></li>
    <li><a href="" ng-click="logout()">{{ _("Logout") }}</a></li>
  </ul>
  <div class="menu-footer">
    {% include "snippets/loading-indicator.html" %}
    {% if not cdvapp %}
        {% if crapp %}
        <div><a href="https://greenaddress.it/faq/" target="_blank">{{ _("FAQ") }}</a> | <a href="https://greenaddress.it/support/" target="_blank">{{ _("Support") }}</a></div>
        {% else %}
        <div><a href="/faq/" target="_blank">{{ _("FAQ") }}</a> | <a href="/support/" target="_blank">{{ _("Support") }}</a></div>
        {% endif %}
    {% endif %}
    <div ng-show="wallet.last_login">
      {{ _("Last login") }}:
      ((wallet.last_login.at))
      from ((wallet.last_login.ip))
      <span ng-show="wallet.last_login.country">({{ _("country") }}: ((wallet.last_login.country)))</span>
      <span ng-hide="wallet.last_login.country">({{ _("unknown country") }})</span>
      <br />
    </div>
    <div style="margin-top:5px;" ng-show="wallet.version">
      <span>App version: ((wallet.version))</span>
    </div>
    <div><b>Copyright &copy; GreenAddress 2016</b></div>
  </div>
</div>
