<script type="text/javascript" src="{{STATIC_URL}}/js/script.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/autobahn.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/angular/raf-polyfill.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/angular/angular.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/angular/angular-route.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/angular/angular-touch.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/angular/qrcode.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/angular/angular-qr.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/angular/angular-scroll.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/angular/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/sha512.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/signuplogin/controllers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/info/controllers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/receive/controllers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/send/controllers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/settings/directives.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/settings/controllers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/transactions/controllers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/controllers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/directives.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/services.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/app.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/mnemonics/services.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/greenwallet/apps/wallet.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/bitcoinjs.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/bitcoinjs_util.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/d3.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/crossfilter.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/dc.min.js"></script>
{% if not cdvapp %}
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/grid.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/version.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/detector.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/formatinf.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/errorlevel.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/bitmat.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/datablock.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/bmparser.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/datamask.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/rsdecoder.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/gf256poly.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/gf256.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/decoder.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/qrcode.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/findpat.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/alignpat.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/jsqrcode/databr.js"></script>
{% endif %}<script type="text/javascript" src="{{STATIC_URL}}/js/gettext.js"></script>